﻿@model AccentWebpage.ViewModels.LanguageViewModel

@{
    ViewBag.Title = "Languages";
}

<h2>Languages</h2>

@*<p>
    <a class="btn btn-primary" href="~/Languages/Create" role="button">New Language</a>
</p>*@
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Language.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language.ISO)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Languages) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ISO)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id, @class="btn btn-default" }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.Id, @class="btn btn-danger" })
        </td>
    </tr>
}

</table>