﻿@using PagedList
@using PagedList.Mvc
@model PagedList.PagedList<AccentWebpage.Models.News>

@{
    ViewBag.Title = "News";  
}

@if (!Model.Any())
{
    <p>We don't have any News yet!</p>
}
else
{
   
     
                <div class="panel panel-default widget">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span>
                        <h3 class="panel-title">
                            All News
                        </h3>
                        <span class="label label-info">
                          
                        </span>
                    </div>
                   
                    <div class="panel-body">
                        <ul class="list-group">
                            @foreach (var newse in Model)
                            {
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-xs-2 col-md-1">
                                            <img src="@Html.DisplayFor(m => newse.ImgPath)" class="img-responsive" alt=""/>
                                        </div>
                                        <div class="col-xs-10 col-md-11">
                                            <div>
                                                <a href="#">
                                                    @Html.DisplayFor(m => newse.Title)
                                                </a>
                                                <div class="mic-info">
                                                   Created: @Html.DisplayFor(m => newse.DateCreated)
                                                </div>
                                            </div>
                                            <div class="comment-text">
                                                @Html.DisplayFor(m => newse.ShortDescription)
                                            </div>
                                            <div class="action">
                                                <button onclick="location.href='@Url.Action("Edit", "News", new { confirm = true, id = newse.Id })'" type="button" class="btn btn-primary btn-xs" title="Edit">
                                                    <span class="glyphicon glyphicon-pencil"></span>
                                                </button>
                                               
                                                <button onclick="location.href='@Url.Action("Delete", "News", new { confirm = true, id = newse.Id })'" type="button" class="btn btn-danger btn-xs" title="Delete">
                                           
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                                <button onclick="ShowNews(@newse.Id)" type="button" class="btn btn-info btn-xs" title="Preview">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                </button>
                                                @if (newse.Published == true)
                                                {
                                                    <button type="button" class="btn btn-success btn-xs" title="Published">
                                                        <span class="glyphicon glyphicon-ok"></span>
                                                    </button>
                                                }
                                                else
                                                {
                                                    <button type="button" class="btn btn-danger btn-xs" title="Unpublished">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                }
                                                
                                                

                                            </div>
                                                    @*<td class="col-md-1 glyphicon glyphicon-trash btn btn-danger btn-xs">@Html.ActionLink("Delete", "Delete", "News", new { confirm = true, id = newse.Id }, new { onclick = "return confirm('Do you really want to delete this rate?')", @class = "btn btn-danger" })</td>*@

                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                        @*<a href="#" class="btn btn-primary btn-sm btn-block" role="button"><span class="glyphicon glyphicon-refresh"></span> More</a>*@
                    </div>
                    
                </div>
}
<div style="margin: 5px;">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
        <!-- ======================================================================================================================================================== -->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    @*<span class="close">&times;</span>*@
    <button type="button" class="close" data-dismiss="modal">&times;</button>

    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title"></h4>
                <p></p>

            </div>


            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>

    </div>
</div>


<script>

            var ShowNews = function (id) {

                $.ajax({
                    type: "POST",
                    url: "/Site/Details",
                    data: { Id: id },
                    success: function (response) {

                        $(".modal-title").html(response);
                        //$("#myModalBodyDiv").html(response);
                        $("#myModal").modal("show");

                    }

                });
            }

            var span = document.getElementsByClassName("close")[0];

            span.onclick = function () {
                modal.style.display = "none";
            }
</script>

<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        /*padding-top: 100px;*/
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.7);
        z-index: 9999;
    }

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 1100px;
    }

    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /*.modal-content, #caption {
                -webkit-animation-name: zoom;
                -webkit-animation-duration: 0.6s;
                animation-name: zoom;
                animation-duration: 0.6s;
            }*/

    /*-webkit-keyframes zoom {
                from {-webkit-transform:scale(0)}
                to {-webkit-transform:scale(1)}
            }

            keyframes zoom {
                from {transform:scale(0)}
                to {transform:scale(1)}
            }*/

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #ffffff;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #fff;
            text-decoration: none;
            cursor: pointer;
        }
</style>


<style>
.widget .panel-body { padding:0px; }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd;}
.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }
</style>