﻿@model AccentWebpage.ViewModels.NewsViewModel
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Info Message</h2>

<table class="table table-bordered table-hover table-striped">

        <tr>
            <th>
                Info Message:
            </th>
          
        </tr>

@foreach (var info in Model.Newses)

{
            <tr>
                <td>
                    @Html.Raw(info.InfoText)
                </td>
              
                <td>
                    @Html.ActionLink("Edit", "EditInfo", new { id = info.Id }) |
                    @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                    @Html.ActionLink("Delete", "DeleteInfo", new { id = info.Id })
                </td>
                <td>
                    @if (info.Published == true)
                    {
                        <button type="button" class="btn btn-success btn-xs" title="Published">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                    }
                    else
                    {
                        <button type="button" class="btn btn-danger btn-xs" title="Unpublished">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    }

                </td>
            </tr>
    }
    </table>