﻿@model AccentWebpage.ViewModels.NewsViewModel

@{
    ViewBag.Title = "InfoForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>InfoForm</h2>


@using (Html.BeginForm(Model.Action1, "News"))
{
    <div class="panel panel-primary">
        <div class="panel-heading">@Model.Title</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(n => n.News.InfoText)
                        @Html.TextAreaFor(n => n.News.InfoText, new {@class = "form-control"})
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.News.Published) Is Active?
                        </label>
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top: 25px;">

                <div class="col-md-12">
                    @Html.HiddenFor(m => m.Id)
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary pull-right">Save</button>
                </div>
            </div>
        </div>

    </div>
}
