﻿@model AccentWebpage.ViewModels.NewsViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>NewsForm</h2>

@using (Html.BeginForm(Model.Action, "News", FormMethod.Post, new { enctype="multipart/form-data" }))
{
    <div class="panel panel-primary">
        <div class="panel-heading">@Model.Title</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(n => n.News.Title)
                        @Html.TextBoxFor(n => n.News.Title, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(n => n.News.ShortDescription)
                        @Html.TextBoxFor(n => n.News.ShortDescription, new { @class = "form-control" })
                    </div>
                  
                </div>
            </div>

            @*<div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_email">Email *</label>
                        <input id="form_email" type="email" name="email" class="form-control" placeholder="Please enter your email *" data-error="Valid email is required.">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="form_phone">Phone</label>
                        <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Please enter your phone">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>*@
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                       @*@Html.LabelFor(n => n.News.ImgPath)*@
                        @*<textarea></textarea>*@
                        <label for="form_phone">Image</label>
                        @{
                            var file = string.Empty;
                            if (file != null)
                            {
                                <input type="file" name="file" value="Browse" />
                            }
                            else
                            {
                                <input type="file" name="file" value="Browse" required=""/>
                            }
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.News.Published) Is Active?
                        </label>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 25px;">
                <div class="col-md-12">
                    <div class="form-group">
                        @Html.LabelFor(n => n.News.Description)
                        @Html.TextAreaFor(n => n.News.Description, new { @id = "test"})
                    </div>
                </div>
                <div class="col-md-12">
                    @Html.HiddenFor(m => m.Id)
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-primary pull-right">Save</button>
                </div>
            </div>
        </div>

    </div>
}

@if (ViewBag.UploadSuccess == true)
{
    <span>Upload Completed Successfully</span>
}

