﻿@model AccentWebpage.ViewModels.QualityViewModel

@Html.AntiForgeryToken()
<div class="panel panel-default" style="margin: 30px;">
    <div class="panel-heading">Prices</div>
    <div class="panel-body">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Pricelist.From, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Pricelist.From, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pricelist.From, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Pricelist.To, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Pricelist.To, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pricelist.To, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Pricelist.Cost, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Pricelist.Cost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pricelist.Cost, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-3">
                <div class="pull-right">
                    @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-warning" }) &nbsp;
                    <button type="submit" class="btn btn-primary pull-right">Save</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Cost</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pricelist in Model.Pricelists)
            {
                <tr>
                    <td class="col-md-3">@Html.ActionLink(pricelist.From.ToString(), "Edit", "Pricelists", new { id = pricelist.Id }, null)</td>
                    <td class="col-md-3">@Html.ActionLink(pricelist.To.ToString(), "Edit", "Pricelists", new { id = pricelist.Id }, null)</td>
                    <td class="col-md-5">@Html.ActionLink(pricelist.Cost.ToString(), "Edit", "Pricelists", new { id = pricelist.Id }, null)</td>
                    <td class="col-md-1">@Html.ActionLink("Delete", "Delete", "Pricelists", new { confirm = true, id = pricelist.Id }, new { onclick = "return confirm('Do you really want to delete this pricelist?')", @class = "btn btn-danger" })</td>
                </tr>
            }
        </tbody>
    </table>
</div>