﻿@model AccentWebpage.ViewModels.QualityViewModel

@{
    ViewBag.Title = "Quality Types";
}

<h2>Quality Types</h2>

@if (!Model.QualityTypes.Any())
{
    <p>We don't have any quality yet.</p>
}
else
{
    <table id="quality" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Pricelists</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var qualityType in Model.QualityTypes)
                {
                <tr>
                    <td class="col-md-2" style="font-size: large">@Html.ActionLink(qualityType.Name, "Edit", "QualityTypes", new { id = qualityType.Id }, null)</td>
                    <td class="col-md-3" style="font-size: small">@Html.ActionLink(qualityType.Description, "Edit", "QualityTypes", new { id = qualityType.Id }, null)</td>
                    <td class="col-md-6">
                        <table class="table table-striped table-hover">
                            <tr>
                                <th class="col-md-4">From</th>
                                <th class="col-md-4">To</th>
                                <th class="col-md-4">Cost</th>
                            </tr>
                            @foreach (var qualityPricelist in Model.QualityPricelists.Where(r => r.QualityTypeId == qualityType.Id))
                            {
                                <tr>
                                    <td class="col-md-4">@Html.DisplayFor(modelItem => qualityPricelist.Pricelist.From)</td>
                                    <td class="col-md-4">@Html.DisplayFor(modelItem => qualityPricelist.Pricelist.To)</td>
                                    <td class="col-md-4">@Html.DisplayFor(modelItem => qualityPricelist.Pricelist.Cost)</td>
                                </tr>
                            }
                        </table>
                    </td>
                    <td class="col-md-1">@Html.ActionLink("Delete", "Delete", "QualityTypes", new { confirm = true, id = qualityType.Id }, new { onclick = "return confirm('Do you really want to delete this quality type?')", @class = "btn btn-danger" })</td>
                    <td class="col-md-1">@*<a href="" class="js-delete-qualitytype" data-qualitytype-id="@qualityType.Id">Delete</a>*@</td>
                </tr>
            }
        </tbody>
    </table>
}

@*@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-delete-qualitytype").click(function(e) {
                var link = $(e.target);
                if (confirm("dsdsff")) {
                    $.ajax({
                            url: "/api/qualitytypes/" + link.attr("data-qualitytype-id"),
                            method: "DELETE"
                        })
                        .done(function() {
                            link.parent('#quality tbody tr').fadeOut(function () {
                                $(this).hide();
                            });
                        })
                        .fail(function() {
                            alert("Somethin failed!");
                        });
                }
            });
        });
    </script>
}*@