﻿@model AccentWebpage.ViewModels.QualityViewModel

@{
    ViewBag.Title = Model.Title;
}

@using (Html.BeginForm(Model.Action, "QualityTypes"))
{
    <div class="panel panel-primary">
        <div class="panel-heading">@Model.Title</div>
        @Html.ValidationSummary(true)
        <div class="panel-body">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.QualityType.Name)
                    @Html.TextBoxFor(m => m.QualityType.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.QualityType.Name)
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.QualityType.Description)
                    @Html.TextBoxFor(m => m.QualityType.Description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.QualityType.Description)
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.Id)
        @Html.Partial("_Pricelist")
    </div>
}