﻿@model IEnumerable<AccentWebpage.Models.Pricelist>

@{
    ViewBag.Title = "Pricelists";
}

<h2>Pricelists</h2>

<p>
    <a class="btn btn-primary" href="~/Pricelists/New" role="button">New Pricelist</a>
</p>

@if (!Model.Any())
{
    <p>Pricelist is empty.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Cost</th>
            <th>Rate</th>
            <th>Days</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var pricelist in Model)
        {
            <tr>
                <td>@Html.ActionLink(pricelist.From.ToString(), "Edit", "Pricelists", new { id=pricelist.Id }, null)</td>
                <td>@Html.ActionLink(pricelist.To.ToString(), "Edit", "Pricelists", new { id=pricelist.Id }, null)</td>
                <td>@Html.ActionLink(pricelist.Cost.ToString(), "Edit", "Pricelists", new { id=pricelist.Id }, null)</td>
                <td>@Html.ActionLink(pricelist.Rate.ToString(), "Edit", "Pricelists", new { id=pricelist.Id }, null)</td>
                <td>@Html.ActionLink(pricelist.Days.ToString(), "Edit", "Pricelists", new { id=pricelist.Id }, null)</td>
            </tr>
        }
        </tbody>
    </table>
}