﻿@model AccentWebpage.ViewModels.PricelistViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Pricelists"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Pricelist.From)
        @Html.TextBoxFor(m => m.Pricelist.From, new { @class="form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Pricelist.To)
        @Html.TextBoxFor(m => m.Pricelist.To, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Pricelist.Cost)
        @Html.TextBoxFor(m => m.Pricelist.Cost, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Pricelist.Rate)
        @Html.TextBoxFor(m => m.Pricelist.Rate, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Pricelist.Days)
        @Html.TextBoxFor(m => m.Pricelist.Days, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Pricelist.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}