﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>
        @Html.ActionLink("English", "Change", "Language", new { LanguageName = "en" }, null)
    </li>
    <li>
        @Html.ActionLink("Macedonian", "Change", "Language", new { LanguageName = "mk" }, null)
    </li>
    <li>
        @DateTime.Now.ToString()
    </li>
</ul>