﻿@using AccentWebpage.Models
@model AccentWebpage.ViewModels.AdminViewModel
@{
    ViewBag.Title = "Sprakservice";
}

<style type="text/css">
    table {
    border-collapse: separate;
    border-spacing: 0 5px;
}

thead th {
    background-color: #d2ad4c;
    color: white;
}

tbody td {
    background-color: #fff;
}

tr td:first-child,
tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
</style>

@*<textarea>Easy (and free!) You should check out our premium features.</textarea>*@
<!-- Content Header (Page header) -->
<!-- Small boxes (Stat box) -->
<div class="row">

    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>@Model.CountOrders</h3>

                <p>Orders</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios-cart"></i>
            </div>
            <a href="@Url.Action("Index", "Orders")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->

    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>@Model.CountLanguages</h3>

                <p>Languages</p>
            </div>
            <div class="icon">
                <i class="ion ion-earth"></i>
            </div>
            <a href="@Url.Action("Index", "Languages")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>@Model.CountRates</h3>

                <p>Rates</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="@Url.Action("Index", "Rates")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <!--  <div class="col-lg-3 col-xs-6">
       small box
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@Model.CountDeliveryDeadlines</h3>

                <p>Delivery Deadline</p>
            </div>
            <div class="icon">
                <i class="ion-ios-clock"></i>
            </div>
            <a href="@Url.Action("Index", "DeliveryDeadline")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>-->
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>@Model.CountNews</h3>

                <p>News</p>
            </div>
            <div class="icon">
                <i class="ion ion-ios-paper"></i>
            </div>
            <a href="@Url.Action("Index", "News")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div> 

<!-- /.row -->
<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <section class="col-md-6 connectedSortable">
        <h3>Latests Orders</h3>
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>Order ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Date Created</th>
                <th>View Order</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>@Html.DisplayFor(o => order.Id)</td>
                    @*<td>@Html.DisplayFor(o => order.FirstName)</td>
                    <td>@Html.DisplayFor(o => order.LastName)</td>*@
                    <td>@Html.DisplayFor(o => order.Email)</td>
                    <td>@Html.DisplayFor(o => order.DateCreated)</td>
                    <td onclick="ShowOrder(@order.Id)"><a href="#">Order:@Html.DisplayFor(o => order.Id)</a></td>
                </tr>
            }
            </tbody>
        </table>
        
        <br />
        <hr style="margin-top: -8px;border-top: 3px solid #d2ad4c;" />
        
        <h3>Latests News</h3>
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>News ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Date Created</th>
                <th>Publish</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var order in Model.Newses.Where(n => n.InfoText == null))
            {
                <tr>
                    <td>@Html.DisplayFor(o => order.Id)</td>
                    <td>@Html.DisplayFor(o => order.Title)</td>
                    <td>@Html.DisplayFor(o => order.ShortDescription)</td>
                    <td>@Html.DisplayFor(o => order.DateCreated)</td>
                    <td>@Html.DisplayFor(o => order.Published)</td>
                    @*<td onclick="ShowOrder(@order.Id)"><a href="#">Order:@Html.DisplayFor(o => order.Id)</a></td>*@
                </tr>
            }
            </tbody>
        </table>
    </section>
    <!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-md-6 connectedSortable">
        <h3>Orders Graph</h3>
        <br/>
        <img class="img-responsive" src="@Url.Action("OrderChart")" alt="SimpleChart"/>

        <hr style="border-top: 3px solid #d2ad4c;" />
        
        <h3>News Graph</h3>
        <img class="img-responsive" src="@Url.Action("NewsChart")" alt="SimpleChart" />
    </section>
    <!-- right col -->
</div>
<!-- /.row (main row) -->

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    @*<span class="close">&times;</span>*@
    <button type="button" class="close" data-dismiss="modal">&times;</button>

    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title"></h4>
                <p></p>

            </div>


            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>

    </div>
</div>


<script>

            var ShowOrder = function (id) {

                $.ajax({
                    type: "POST",
                    url: "/Orders/Details",
                    data: { Id: id },
                    success: function (response) {

                        $(".modal-title").html(response);
                        //$("#myModalBodyDiv").html(response);
                        $("#myModal").modal("show");

                    }

                });
            }

            var span = document.getElementsByClassName("close")[0];

            span.onclick = function () {
                modal.style.display = "none";
            }
</script>

<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        /*padding-top: 100px;*/
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.7);
        z-index: 9999;
    }

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 1100px;
    }

    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /*.modal-content, #caption {
                -webkit-animation-name: zoom;
                -webkit-animation-duration: 0.6s;
                animation-name: zoom;
                animation-duration: 0.6s;
            }*/

    /*-webkit-keyframes zoom {
                from {-webkit-transform:scale(0)}
                to {-webkit-transform:scale(1)}
            }

            keyframes zoom {
                from {transform:scale(0)}
                to {transform:scale(1)}
            }*/

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #ffffff;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #fff;
            text-decoration: none;
            cursor: pointer;
        }
</style>


<style>
    .widget .panel-body {
        padding: 0px;
    }

    .widget .list-group {
        margin-bottom: 0;
    }

    .widget .panel-title {
        display: inline;
    }

    .widget .label-info {
        float: right;
    }

    .widget li.list-group-item {
        border-radius: 0;
        border: 0;
        border-top: 1px solid #ddd;
    }

        .widget li.list-group-item:hover {
            background-color: rgba(86,61,124,.1);
        }

    .widget .mic-info {
        color: #666666;
        font-size: 11px;
    }

    .widget .action {
        margin-top: 5px;
    }

    .widget .comment-text {
        font-size: 12px;
    }

    .widget .btn-block {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
</style>