﻿
@model AccentWebpage.ViewModels.OrderViewModel


@Html.DisplayFor(n => n.Order.Id) <br />
<p style="font-size: 12px; color: #d2ad4c;">@Html.DisplayFor(n => n.Order.FirstName)</p><br />
@Html.Raw(Model.Order.Email)



