﻿@using System.Data.SqlClient
@using PagedList
@using PagedList.Mvc

@*@model IEnumerable<AccentWebpage.Models.Order>*@
@model PagedList.IPagedList<AccentWebpage.Models.Order>
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Orders</h2>

<div class="container">
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Order ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>View Order</th>
        </tr>
        </thead>
        <tbody>
        @foreach(var order in Model) { 
            <tr>
                <td>@Html.DisplayFor(o => order.Id)</td>
                <td>@Html.DisplayFor(o => order.FirstName)</td>
                <td>@Html.DisplayFor(o => order.LastName)</td>
                <td>@Html.DisplayFor(o => order.Email)</td>
                <td onclick="ShowOrder(@order.Id)"><a href="#">Order:@Html.DisplayFor(o => order.Id)</a></td>
            </tr>
        }
        </tbody>
    </table>
    
    <div style="margin: 5px;">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    @*<span class="close">&times;</span>*@
    <button type="button" class="close" data-dismiss="modal">&times;</button>

    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title"></h4>
                <p></p>

            </div>


            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>*@
        </div>

    </div>
</div>


<script>

            var ShowOrder = function (id) {

                $.ajax({
                    type: "POST",
                    url: "/Orders/Details",
                    data: { Id: id },
                    success: function (response) {

                        $(".modal-title").html(response);
                        //$("#myModalBodyDiv").html(response);
                        $("#myModal").modal("show");

                    }

                });
            }

            var span = document.getElementsByClassName("close")[0];

            span.onclick = function () {
                modal.style.display = "none";
            }
</script>

<style>
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        /*padding-top: 100px;*/
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.7);
        z-index: 9999;
    }

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 1100px;
    }

    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /*.modal-content, #caption {
                -webkit-animation-name: zoom;
                -webkit-animation-duration: 0.6s;
                animation-name: zoom;
                animation-duration: 0.6s;
            }*/

    /*-webkit-keyframes zoom {
                from {-webkit-transform:scale(0)}
                to {-webkit-transform:scale(1)}
            }

            keyframes zoom {
                from {transform:scale(0)}
                to {transform:scale(1)}
            }*/

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #ffffff;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #fff;
            text-decoration: none;
            cursor: pointer;
        }
</style>


<style>
    .widget .panel-body {
        padding: 0px;
    }

    .widget .list-group {
        margin-bottom: 0;
    }

    .widget .panel-title {
        display: inline;
    }

    .widget .label-info {
        float: right;
    }

    .widget li.list-group-item {
        border-radius: 0;
        border: 0;
        border-top: 1px solid #ddd;
    }

        .widget li.list-group-item:hover {
            background-color: rgba(86,61,124,.1);
        }

    .widget .mic-info {
        color: #666666;
        font-size: 11px;
    }

    .widget .action {
        margin-top: 5px;
    }

    .widget .comment-text {
        font-size: 12px;
    }

    .widget .btn-block {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
</style>