﻿@{
    ViewBag.Title = "Accent - Translations &amp; Interpreting";
}

<div class="loader">
    <div class="loader-brand"><img alt class="img-responsive center-block" src="~/Images/brand-white.png"></div>
</div>
<div id="layout" class="layout">
    <header id="top" class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#layout" class="brand js-target-scroll">
                    <img class="brand-img-white" alt width="250" src="~/Images/brand-white.png">
                    <img class="brand-img" alt width="130" src="~/Images/brand.png">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#layout" class="js-target-scroll">@AccentWebpage.Resources.Texts.Home</a></li>
                    <li><a href="#about" class="js-target-scroll">@AccentWebpage.Resources.Texts.About</a></li>
                    <li><a href="#features1" class="js-target-scroll">@AccentWebpage.Resources.Texts.Contact</a></li>
                    <li><a href="#reviews" class="js-target-scroll">@AccentWebpage.Resources.Texts.Language</a></li>
                    <li><a href="#prices" class="js-target-scroll">Prices</a></li>
                    <li><a href="#contacts" class="js-target-scroll">Contacts</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main id="home" class="masthead-video masked">
        <video class="video" autoplay loop muted poster="~/video/poster.jpg">
            <source src="~/video/video.mp4" type="video/mp4">
            <source src="~/video/video.webm" type="video/webm">
        </video>
        <div class="opener rel-1">
            <div class="container">
                <div class="row">
                    <div class="lead col-lg-6">
                        <h1 class="wow fadeInDown">We are Accent </h1>
                        <p class="lead-text">Diversity, loyalty, open mindedness and professionalism are the core values of our business.</p>
                        <div class="lead-controls">
                            <a href="#request" class="btn-lead btn" data-toggle="modal">Get start now</a>
                            <a href="http://www.youtube.com/watch?v=ANwf8AE3_d0" class="text-white play-home js-play">
                                <i class="fa fa-play-circle"></i> Watch video
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="content">
        <section id="partners" class="partners bgc-light">
            <div class="container">
                <div class="row">
                    <div class="partners-carousel">
                        <div class="partner">
                            <img alt class="img-responsive" src="~/Images/partners/1.png">
                        </div>
                        <div class="partner">
                            <img alt class="img-responsive" src="~/Images/partners/2.png">
                        </div>
                        <div class="partner">
                            <img alt class="img-responsive" src="~/Images/partners/3.png">
                        </div>
                        <div class="partner">
                            <img alt class="img-responsive" src="~/Images/partners/4.png">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="about" class="about text-center section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2 class="section-title">Some facts about product</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </div>
                </div>
                <div class="section-body">
                    <div class="row row-columns row-padding">
                        <div class="column column-padding col-md-4">
                            <i class="icon fa fa-5x fa-renren"></i>
                            <h3>Light</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                        </div>
                        <div class="column column-padding col-md-4">
                            <i class="icon fa fa-5x fa-wifi"></i>
                            <h3>Clean</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                        </div>
                        <div class="column column-padding col-md-4">
                            <i class="icon fa fa-5x fa-soundcloud"></i>
                            <h3>Modern</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="product bgc-light text-center section-sm">
            <div class="container">
                <div class="row">
                    <div class="text-center wow animatePhone" data-wow-duration="2s"><img alt class="img-responsive" src="~/Images/product.png"></div>
                </div>
            </div>
        </section>
        <section id="charts" class="charts section">
            <div class="container">
                <div class="row-columns row-padding row">
                    <div class="column col-md-6 col-md-push-6">
                        <h2 class="section-title">Available anytime</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas harum, hic officiis commodi reprehenderit explicabo tenetur eos! Excepturi adipisci consequatur quisquam error, velit, pariatur</p>
                    </div>
                    <div class="column col-md-6 col-md-pull-6 text-center">
                        <div class="row-columns row">
                            <div class="column col-pie">
                                <div class="chart" data-percent="84.5">
                                    <div class="chart-content">
                                        <div class="chart-title">Since</div>
                                        <div class="chart-number">2015</div>
                                        <div class="line line-center"></div>
                                        <div class="chart-type">Year</div>
                                    </div>
                                </div>
                            </div>
                            <div class="column col-pie">
                                <div class="chart" data-percent="55.6">
                                    <div class="chart-content">
                                        <div class="chart-title">Active time</div>
                                        <div class="chart-number">24/7</div>
                                        <div class="line line-center"></div>
                                        <div class="chart-type">Hours</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="video-section" class="video-section text-white masked section-lg">
            <div class="container rel-1">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="text-white section-title">About us</h2>
                        <p class="text-opacity">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas harum, hic officiis commodi reprehenderit explicabo tenetur eos! Excepturi adipisci consequatur quisquam error, velit, pariatur</p>
                        <p class="top-space">
                            <a href="http://www.youtube.com/watch?v=ANwf8AE3_d0" class="text-white play js-play"><i class="text-white fa fa-3x fa-play-circle"></i> Watch our video</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="features1" class="features bgc-light section">
            <div class="container">
                <div class="row-columns row-padding row">
                    <div class="col-feature-img column column-padding col-md-5 text-center wow fadeInLeft">
                        <img alt class="feature-img" src="~/Images/feature-img.png">
                    </div>
                    <div class="col-feature column column-padding col-md-6">
                        <h2 class="section-title">Our services</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas harum, hic officiis commodi reprehenderit explicabo tenetur eos! Excepturi adipisci consequatur quisquam error, velit, pariatur</p>
                        <div class="section-body">
                            <div class="column">
                                <div class="media-left">
                                    <i class="fa fa-2x fa-rss"></i>
                                </div>
                                <div class="media-right">
                                    <h4>Customer services</h4>
                                    <p>Our call center staff is trained to meet all the requirements you as our customer might have</p>
                                </div>
                            </div>
                            <div class="column">
                                <div class="media-left">
                                    <i class="fa fa-2x fa-credit-card"></i>
                                </div>
                                <div class="media-right">
                                    <h4>Translation</h4>
                                    <p>Our translation services are always performed by translation professionals with long experience of translation.</p>
                                </div>
                            </div>
                            <div class="column">
                                <div class="media-left">
                                    <i class="fa fa-2x fa-cogs"></i>
                                </div>
                                <div class="media-right">
                                    <h4>Interpreting</h4>
                                    <p>We provide both consecutive and simultaneous interpreters on request.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="features2" class="features section">
            <div class="container">
                <div class="row-padding row-columns row">
                    <div class="col-feature-img text-center column column-padding col-md-5 col-md-push-7 wow fadeInUp">
                        <img alt class="feature-img" src="~/Images/feature-img.png">
                    </div>
                    <div class="col-feature column column-padding col-md-7 col-md-pull-5">
                        <h2 class="section-title">Accent Academy</h2>
                        <div class="row">
                            <div class="col-md-10">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas harum, hic officiis commodi reprehenderit explicabo tenetur eos! Excepturi adipisci consequatur quisquam error, velit, pariatur</p>
                            </div>
                        </div>
                        <div class="section-body">
                            <div class="row row-columns">
                                <div class="column col-md-6">
                                    <div class="media-left">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-flag text-white fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>
                                    <div class="media-right">
                                        <h4>Bootstrap 3x</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                    </div>
                                </div>
                                <div class="column col-md-6">
                                    <div class="media-left">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-signal text-white fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>
                                    <div class="media-right">
                                        <h4>Font Awesome</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                    </div>
                                </div>
                                <div class="column col-md-6">
                                    <div class="media-left">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-flask text-white fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>
                                    <div class="media-right">
                                        <h4>Clean design</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                    </div>
                                </div>
                                <div class="column col-md-6">
                                    <div class="media-left">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-headphones text-white fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>
                                    <div class="media-right">
                                        <h4>Easy to customize</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                    </div>
                                </div>
                                <div class="column col-md-6">
                                    <div class="media-left">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-signal text-white fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>
                                    <div class="media-right">
                                        <h4>Font Awesome</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                    </div>
                                </div>
                                <div class="column col-md-6">
                                    <div class="media-left">
                                        <span class="fa-stack fa-lg">
                                            <i class="fa fa-circle fa-stack-2x"></i>
                                            <i class="fa fa-flask text-white fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </div>
                                    <div class="media-right">
                                        <h4>Clean design</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="banner" class="text-white bgc-primary section-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h2 class="banner-title text-white">Want to Learn More?</h2>
                    </div>
                    <div class="col-md-5">
                        <span class="text-opacity">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas harum, hic officiis commodi reprehenderit explicabo</span>
                    </div>
                    <div class="col-md-3 top-space-sm"><a href="#request" class="btn btn-b-white" data-toggle="modal">Get started</a></div>
                </div>
            </div>
        </section>
        <section id="reviews" class="reviews text-center section">
            <div class="container">
                <div class="row">
                    <div class="text-center col-md-6 col-md-offset-3">
                        <h2 class="section-title">Users says about product</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </div>
                </div>
                <div class="section-body">
                    <div class="row">
                        <div class="review-carousel carousel">
                            <div class="review">
                                <div class="text-center">
                                    <img style="height: 155px;" alt class="img-circle" src="~/Images/reviews/1.jpg">
                                    <h3>Dragana Petrovic</h3>
                                    <i class="fa fa-2x fa-quote-right"></i>
                                    <p>
                                        «Design is the method of putting form and content together; there is no single definition. Design can be aesthetics
                                    </p>
                                </div>
                            </div>
                            <div class="review">
                                <div class="text-center">
                                    <img alt class="img-circle" src="~/Images/reviews/2.jpg">
                                    <h3>James Thornton</h3>
                                    <i class="fa fa-2x fa-quote-right"></i>
                                    <p>
                                        «Design is the method of putting form and content together; there is no single definition. Design can be aesthetics
                                    </p>
                                </div>
                            </div>
                            <div class="review">
                                <div class="text-center">
                                    <img alt class="img-circle" src="~/Images/reviews/3.jpg">
                                    <h3>James Thornton</h3>
                                    <i class="fa fa-2x fa-quote-right"></i>
                                    <p>
                                        «Design is the method of putting form and content together; there is no single definition. Design can be aesthetics
                                    </p>
                                </div>
                            </div>
                            <div class="review">
                                <div class="text-center">
                                    <img alt class="img-circle" src="~/Images/reviews/1.jpg">
                                    <h3>James Thornton</h3>
                                    <i class="icon-sm fa fa-quote-right"></i>
                                    <p>
                                        «Design is the method of putting form and content together; there is no single definition. Design can be aesthetics
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="prices" class="prices text-center masked section" data-stellar-background-ratio="0.7">
            <div class="container rel-1">
                <div class="row">
                    <div class="text-center text-white col-md-6 col-md-offset-3">
                        <h2 class="text-white section-title">Choose your plan</h2>
                        <p class="text-opacity">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </div>
                </div>
                <div class="section-body">
                    <div class="row-price">
                        <div class="col-price wow fadeInLeft">
                            <div class="price-box">
                                <div class="price-body">
                                    <div class="price-inner">
                                        <header class="price-header">
                                            <h4 class="price-title">Basic</h4>
                                            <div class="price">
                                                <strong class="price-currency">$</strong>
                                                <strong class="price-amount">60</strong><span class="price-delimiter">/</span><strong class="price-period">mo</strong>
                                            </div>
                                        </header>
                                        <div class="price-features">
                                            <ul>
                                                <li>Enhanced Security</li>
                                                <li>No Time Tracking</li>
                                                <li>Enhanced Security</li>
                                            </ul>
                                        </div>
                                        <a href="#request" class="btn" data-toggle="modal">Get started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="leading col-price">
                            <div class="price-box">
                                <div class="price-body">
                                    <div class="price-inner">
                                        <header class="price-header">
                                            <h4 class="price-title">Classic</h4>
                                            <div class="price">
                                                <strong class="price-currency">$</strong>
                                                <strong class="price-amount">100</strong><span class="price-delimiter">/</span><strong class="price-period">mo</strong>
                                            </div>
                                        </header>
                                        <div class="price-features">
                                            <ul>
                                                <li>Enhanced Security</li>
                                                <li>No Time Tracking</li>
                                                <li>Enhanced Security</li>
                                            </ul>
                                        </div>
                                        <a href="#request" class="btn" data-toggle="modal">Get started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-price wow fadeInRight">
                            <div class="price-box">
                                <div class="price-body">
                                    <div class="price-inner">
                                        <header class="price-header">
                                            <h4 class="price-title">Premium</h4>
                                            <div class="price">
                                                <strong class="price-currency">$</strong>
                                                <strong class="price-amount">150</strong><span class="price-delimiter">/</span><strong class="price-period">mo</strong>
                                            </div>
                                        </header>
                                        <div class="price-features">
                                            <ul>
                                                <li>Enhanced Security</li>
                                                <li>No Time Tracking</li>
                                                <li>Enhanced Security</li>
                                            </ul>
                                        </div>
                                        <a href="#request" class="btn" data-toggle="modal">Get started</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="subscribe" class="text-center bgc-light section-sm">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2 class="section-title">Subscribe to Newsletter</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                    </div>
                </div>
                <div class="top-base">
                    <div class="row">
                        @*<div class="col-md-6 col-md-offset-3">*@
                            <img src="~/Images/accent-academy.png"/>
                            @*<form id="mc-form">
                                <div class="input-group">
                                    <input id="mc-email" type="email" class="form-control b-primary" placeholder="Email address">
                                    <span class="input-group-btn">
                                        <button class="btn" type="submit"><i class="text-white fa fa-envelope"></i> <span class="hidden-xs">Subscribe</span></button>
                                    </span>
                                </div>
                                <p><label for="mc-email" id="mc-notification"></label></p>
                            </form>*@
                        @*</div>*@
                    </div>
                </div>
            </div>
        </section>
        <section id="contacts" class="contacts text-center section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2 class="section-title">Contact us</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                    </div>
                </div>
                <div class="section-body">
                    <div class="row row-columns row-padding">
                        <div class="col-contact column column-padding col-md-4">
                            <i class="icon fa fa-3x fa-phone"></i>
                            <h3>Phone</h3>
                            <p>+389 71 208 413,<br> +389 02 3 212 301</p>
                        </div>
                        <div class="col-contact column column-padding col-md-4">
                            <i class="icon fa fa-3x fa-map-marker"></i>
                            <h3>Address</h3>
                            <p>Kej 13 Noemvri 13/9,<br> 1000 Skopje,Macedonia</p>
                        </div>
                        <div class="col-contact column column-padding col-md-4">
                            <i class="icon fa fa-3x fa-envelope"></i>
                            <h3>Email</h3>
                            <p>info@accent-balkan.com,<br> dp@accent-balkan.com - Шефица</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-body map-layer">
                <div id="map" class="map"></div>
            </div>
        </section>
    </div>
    <footer id="footer" class="footer text-center">
        <div class="container">
            <div class="social">
                <a href="#" class="fa fa-2x fa-facebook"></a>
                <a href="#" class="fa fa-2x fa-twitter"></a>
                <a href="#" class="fa fa-2x fa-pinterest"></a>
                <a href="#" class="fa fa-2x fa-youtube-play"></a>
            </div>
        </div>
        <div class="copy">
            &copy; @DateTime.Now.Year - All rights reserved by <a href="#" target="_blank">IT Team - "Accent - Translations &amp; Interpreting"</a>
        </div>
    </footer>
</div>
<div id="request" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-dismiss="modal" aria-label="Close">&times;</span>
                <h2 class="modal-title">Get start now</h2>
            </div>
            <div class="modal-body text-center">
                <form class="form-request js-ajax-form">
                    <div class="row-fields row">
                        <div class="form-group col-field col-sm-6">
                            <input type="text" class="form-control" name="name" required placeholder="Name *">
                        </div>
                        <div class="form-group col-field col-sm-6">
                            <input type="email" class="form-control" name="email" required placeholder="Email *">
                        </div>
                        <div class="form-group col-field col-sm-12">
                            <textarea class="form-control" rows="3" name="message" placeholder="Message"></textarea>
                        </div>
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-b-white" data-text-hover="Submit">Send request</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="success" class="modal modal-message fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                <h2 class="modal-title">Thank you</h2>
                <p class="modal-subtitle">Your message is successfully sent...</p>
            </div>
        </div>
    </div>
</div>
<div id="error" class="modal modal-message fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></span>
                <h2 class="modal-title">Sorry</h2>
                <p class="modal-subtitle"> Something went wrong </p>
            </div>
        </div>
    </div>
</div>