﻿
<link rel="stylesheet" type="text/css" href="~/usercontrols/InstantQuotation/bootstrap-select.css">
<link rel="stylesheet" type="text/css" href="~/usercontrols/InstantQuotation/bootstrap-datepicker3.min.css">
<link href="~/usercontrols/InstantQuotation/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Base.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/usercontrols/InstantQuotation/style.css">

<div class="container" id="iQModal" style="background: #fff; padding-bottom: 20px;">
    <div class="row">


        <!-- <div class="row">
          <input id="document" type="file" class="col-xs-12 col-md-8" />
          <input type="button" class="btn btn-primary pull-right" id="btnCalculate" value="Calculate" />
        </div> -->

        <div id="rootwizard" class="tabbable col-md-9 col-xs-12">
            <ul>
                <li><a href="#tab1" data-toggle="tab">Text</a></li>
                <li><a href="#tab2" data-toggle="tab">Språk</a></li>
                <li><a href="#tab3" data-toggle="tab">Paket</a></li>
            </ul>

            <div class="tab-content" style="border: 2px #D2AD4C solid; min-height: 375px;">

                <div class="tab-pane" id="tab1">
                    <div class="panel panel-default">
                        <div class="panel-heading">Lägg till text för översättning</div>
                        <div class="panel-body">
                            <p>
                                <small class="text-muted" style="margin-bottom: 10px;">
                                    Observera att gömd text, sidhuvud/sidfot, kommentarer, bildtitlar
                                    och dylikt inte alltid räknas med i det totala ordantalet. Det kan därför förekomma prisskillnader.
                                    I sådana fall kontaktar vi dig.
                                </small>
                            </p>
                            <ul id="files" class="list-group"></ul>
                            <div id="textContainer" style="display: none;">
                                <textarea class="form-control" id="txtPasteText" style="width: 100%;" placeholder="Skriv eller klistra in texten här"></textarea>
                                <span class="row">
                                    <span class="btn btn-default pull-right btn-sm" id="btnCalculate">Beräkna</span>
                                </span>
                            </div>

                            <div class="input-group col-xs-6 col-md-6 pull-right" id="wordsContainer" style="display: none;">
                                <input type="number" class="form-control" id="txtNumberOfWords" placeholder="Antal ord">
                                <span class="input-group-btn">
                                    <input type="button" class="btn btn-default" id="btnAddNumber" value="Lägg till" />
                                </span>
                            </div>

                            <div class="row btn-group" role="group" style="margin: auto;">
                                <span class="btn btn-default fileinput-button">
                                    <span>Lägg till fil</span>
                                    <!-- The file input field used as target for the file upload widget -->
                                    <input id="document" type="file" name="files[]" multiple>
                                </span>

                                <span class="btn btn-default" id="btnAddWordCount">Lägg till beräknat ordantal</span>
                                <span class="btn btn-default" id="btnAddText">Klistra in text</span>
                            </div>
                        </div>
                        <small class="text-muted">Följande filtyper stöds: .docx, .xlsx och .txt</small>
                    </div>
                </div>
                <div class="tab-pane" id="tab2">
                    <div class="panel panel-default">
                        <div class="panel-heading">Välj aktuella språk för översättningen</div>
                        <div class="panel-body">
                            <div class="row col-md-6 col-xs-12">
                                <h4 style="font-size: 20px;">Översätt från</h4>

                                <select id="langFrom" multiple data-max-options="1" data-style="btn-default" data-size="5" data-title="Välj Språk"></select>

                                <small class="text-muted" style="display: block;padding-top: 10px;width: 220px;">
                                    Observera att du endast kan välja ett källspråk per beställning
                                </small>
                            </div>
                            <div class="row col-md-6 col-xs-12">
                                <h4 style="font-size: 20px;">Översätt till</h4>

                                <select id="langTo" multiple data-style="btn-default" data-size="5" data-title="Välj Språk"></select>


                            </div>
                            <div class="row col-md-12 col-xs-12" style="margin-top: 15px;">
                                <div id="target_language_list_render_section" style="display: none;">
                                    <span>Samtliga priser visas per dokument och för alla valda översättningsspråk. Beställningsuppgifter:</span>
                                    <div id="target_language_list_section">
                                        <table class="table" id="languagesTable">
                                            <tbody></tbody>
                                            <tfoot id="language_summary_render_section">
                                                <tr id="language_summary_section">
                                                    <th class="col-total-lang" colspan="2"></th>
                                                    <th colspan="2"><div class="pull-right">Totalt: <span class="col-total-price"></span></div></th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                        <small style="display: none;" class="lblMinimumOrderPrice text-danger text-uppercase">Minimidebitering SEK 690,00 <span class="exclude-vat"></span> / 862,5 SEK <span class="include-vat"></span></small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="tab3">
                    <div class="panel panel-default">
                        <div class="panel-heading">Val för översättningen</div>
                        <div class="panel-body">
                            <div style="padding: 15px 0 22px 15px;">
                                <div class="row col-md-12 col-xs-12">
                                    <h4 style="font-size: 20px;">Välj ett av våra paket</h4>
                                    <table id="plansTable" class="row col-md-12 col-xs-12">
                                        <tr></tr>
                                    </table>
                                </div>

                                <div class="row col-md-12 col-xs-12" style="margin-top: 20px;">
                                    <h4 style="font-size: 20px;">Välj leveranstid</h4>
                                        <div class="list-group" id="pricingTable"></div>
                                </div>

                                <div class="row col-md-12 col-xs-12">
                                    <h4 style="font-size: 20px; padding: 0;" class="col-md-9 col-xs-12">Välj leveransdatum</h4>
                                    <input class="col-md-3 col-xs-12 datepicker" data-provide="datepicker">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <ul class="pager wizard" style="margin-left: 0px; border-top: #d2ad4c 2px solid;">
                    <li class="previous first " style="display: none;"><a href="#">First</a></li>
                    <li class="previous "><a href="#">Föregående</a></li>
                    <li class="next last " style="display: none;"><a href="#">Last</a></li>
                    <li class="next "><a href="#">Nästa</a></li>
                </ul>
            </div>
        </div>

        <div id="quote_section" class="col-md-3 col-xs-12">

            <div style="margin-top: 30px; border-left: #d2ad4c solid 2px; min-height: 410px;">
                <div style="margin-left: 10px;">
                    <div id="quote_summary_section">
                        <h4>Din beställning</h4>
                        <table class="table quote-table">
                            <tbody>
                                <tr class="adding_content_row complete clickable">

                                    <td colspan="2">
                                        <strong id="numberItems">0</strong> text(er)
                                    </td>
                                    <td colspan="2" class="quote-value">
                                        <strong class="pull-right"><span id="totalWordCount">0</span> ord</strong>
                                    </td>
                                </tr>
                                <tr class="choose_language_row complete clickable">
                                    <td colspan="2">
                                        Källspråk
                                    </td>
                                    <td colspan="2" class="quote-value col-src-lang">
                                        <strong class="pull-right"></strong>
                                    </td>
                                </tr>
                                <tr class="choose_language_row complete clickable">
                                    <td colspan="2">
                                        Översätts till
                                    </td>
                                    <td colspan="2" class="quote-value col-total-lang">
                                        <strong class="pull-right">0</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="4" style="border-top: 0;">
                                        <ul id="languagesList"></ul>
                                    </td>
                                </tr>
                                <tr style="display: none;" class="lblMinimumOrderPrice">
                                    <td colspan="4" style="border-top: 0;">
                                        <small class="text-danger text-uppercase">Minimidebitering SEK 690,00</small>
                                    </td>
                                </tr>
                                <tr class="optional_row complete ">
                                    <td colspan="2">
                                        Leveransplan
                                    </td>
                                    <td colspan="2">
                                        <strong class="pull-right" id="deliveryPlanName"></strong>
                                    </td>
                                </tr>
                                <tr class="optional_row complete ">
                                    <td colspan="2">
                                        Beräknad leverans
                                    </td>
                                    <td colspan="2">
                                        <strong class="pull-right" id="estimatedDelivery"></strong>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>


                                <tr>
                                    <th colspan="2" class="quote-title">
                                        <div style="color: black;">Totalt <br /><span class="exclude-vat"></span> </div>
                                        <div>Totalt <br /><span class="include-vat"></span></div>
                                    </th>

                                    <th colspan="2">
                                        <br />
                                        <div style="color: black;">
                                            <strong class="pull-right" id="orderTotal"></strong>
                                        </div><br />
                                        <br /><strong class="pull-right" id="orderTotalWithVat"></strong>
                                    </th>
                                </tr>


                            </tfoot>
                        </table>
                    </div>
                    <p>
                        <small style="display: none;" class="lblMinimumOrderPrice text-danger text-uppercase">Minimidebitering SEK 690,00 <span class="exclude-vat"></span></small>
                    </p>
                    <p>
                        <small style="display: none;" class="lblMinimumOrderPrice text-danger text-uppercase">Minimidebitering SEK 862,50 <span class="include-vat"></span></small>
                    </p>
                    @*<%--<p class="eta-text">Estimated delivery <strong class="estimatedDelivery"></strong><i class="helper_eta_popover_icon icon-tooltip" data-placement="top"></i></p>--%>*@


                    <label>
                        <input id="agree_term_chk" type="checkbox">
                        Jag godkänner
                        <asp:HyperLink runat="server" CssClass="termsLink" ID="lnkTerms" NavigateUrl="~/sv/vara-tjanster/oversattning/omedelbaroffert/villkor_omedelbaroffert/" Target="_blank">villkoren</asp:HyperLink>
                    </label>


                    <button type="button" id="change_complete_btn" class="btn btn-core btn-next-page btn-block">Bekräfta beställning</button>
                    <div class="modal fade" id="agreeTerms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>Godkänn användarvillkoren</strong>
                                </div>
                                <div class="modal-body center-block">
                                    Du måste godkänna användarvillkoren för att bekräfta beställningen
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="removeWordCounts" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>Ta bort ordantal från listan</strong>
                                </div>
                                <div class="modal-body center-block">
                                    Du kan inte slutföra en beställning när det finns ordantal angivet.<br />
                                    Du måste ta bort ordantalet innan du kan bekräfta beställningen.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="profileData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>Fyll i dina uppgifter för att slutföra beställningen</strong>
                                </div>
                                <div class="modal-body center-block row">
                                    <form id="loginForm" method="post" class="form-horizontal">
                                        <h4 class="col-md-12 required"></h4>
                                        <div class="col-md-12 back-action">
                                            <span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;<a href id="btnBack">Tillbaka</a>
                                        </div>
                                        <div class="form-group col-md-12 usertype">
                                            <span class="private-picker"><input type="checkbox" name="chbPrivate" id="chbPrivate" value="first_checkbox" /> <label for="chbPrivate">Privatkund</label></span>
                                            <span class="company-picker"><input type="checkbox" name="chbCompany" id="chbCompany" value="first_checkbox" /> <label for="chbCompany">Företagskund</label></span>
                                        </div>
                                        <div id="orderForm">
                                            <div class="company-fields">
                                                <div class="col-md-12">Om du inte redan har ett kundnummer måste du registera ditt företag först genom att klicka på 'ny kund'. Observera att endast företagskunder kan registera sig för ett kundnummer</div>
                                                <div class="form-group col-md-12">
                                                    <input type="checkbox" name="chbNew" id="chbNew" value="first_checkbox" /> <label for="chbNew">Ny kund</label>
                                                </div>
                                                <fieldset class="col-md-12">
                                                    <legend>Kundinformation</legend>
                                                    @*<%--<div class="form-group col-md-6 col-xs-12 required">
                                                        <label class="control-label">Kundnamn</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon glyphicon glyphicon-briefcase"></span>
                                                            <input type="text" class="form-control" id="txtCompanyName" placeholder="Ange kundnamn" />
                                                        </div>
                                                    </div>--%>*@
                                                    <div class="form-group col-md-6 col-xs-12 customer-number required">
                                                        <label class="control-label">Kundnamn/kundnummer</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon glyphicon glyphicon-barcode"></span>
                                                            <input type="text" class="form-control" id="txtCustomerNumber" placeholder="Ange kundnamn/kundnummer" />
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <fieldset class="col-md-12">
                                                <legend>Kontaktperson</legend>
                                                <div class="form-group col-md-6 col-xs-12 required">
                                                    <label class="control-label">Förnamn</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon glyphicon glyphicon-user"></span>
                                                        <input type="text" class="form-control" id="txtFirstName" placeholder="Ange förnamn" />
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6 col-xs-12 required">
                                                    <label class="control-label">Efternamn</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon glyphicon glyphicon-user"></span>
                                                        <input type="text" class="form-control" id="txtLastName" placeholder="Ange efternamn" />
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6 col-xs-12 required">
                                                    <label class="control-label">E-postadress till kontaktperson</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                                                        <input type="text" class="form-control" id="txtEmail" placeholder="Ange e-postadress" />
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6 col-xs-12 required">
                                                    <label class="control-label">Telefonnummer till kontaktperson</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon glyphicon glyphicon-phone"></span>
                                                        <input type="text" class="form-control" id="txtPhone" placeholder="Ange telefonnummer" />
                                                    </div>
                                                    <div>Ange riktnummer</div>
                                                </div>
                                                <div class="private-fields">
                                                    @*<%--<div class="form-group col-md-6 col-xs-12">
                                                        <label class="control-label">Personnummer</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon glyphicon glyphicon-file"></span>
                                                            <input type="text" class="form-control" id="txtPersonalNumber" placeholder="Ange personnummer" />
                                                        </div>
                                                    </div>--%>*@
                                                </div>
                                            </fieldset>
                                            <fieldset class="col-md-12">
                                                <legend>Leveransuppgifter</legend>
                                                <div class="form-group col-md-6 col-xs-12 required">
                                                    <label class="control-label">Ange leveransadress</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon glyphicon glyphicon-map-marker"></span>
                                                        <input type="text" class="form-control" id="txtDeliveryAddress" placeholder="Ange postadress/e-postadress" />
                                                    </div>
                                                    <div>Adress som översättningen ska levereras till</div>
                                                </div>
                                            </fieldset>
                                            <div class="private-fields">
                                                <div class="form-group col-md-12">
                                                    Om du godtar offerten betalar du hela beloppet i förskott. Sätt in summan på bankgiro: 418-3109. Vid inbetalning uppger du det bokningsnummer som du får av oss. När inbetalningen har mottagits sätter vi igång med översättningen.
                                                </div>
                                            </div>
                                            <div class="new-customer-fields">
                                                <fieldset class="col-md-12">
                                                    <legend>Företagsinformation</legend>
                                                    <div class="form-group col-md-6 col-xs-12">
                                                        <label class="control-label">Organisationsnummer</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon glyphicon glyphicon-file"></span>
                                                            <input type="text" class="form-control" id="txtNewCompanyOrganisationNumber" placeholder="Organisationsnummer" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-xs-12 required">
                                                        <label class="control-label">Avdelning, beskrivning el dylikt</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon glyphicon glyphicon-credit-card"></span>
                                                            <input type="text" class="form-control" id="txtNewTitle" placeholder="Ange avdelningsnamn" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-xs-12 required">
                                                        <label class="control-label">Telefonnummer</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon glyphicon glyphicon-phone"></span>
                                                            <input type="text" class="form-control" id="txtNewCompanyPhone" placeholder="Ange telefonnummer" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-xs-12 required">
                                                        <label class="control-label">E-postadress till kontaktperson</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                                                            <input type="text" class="form-control" id="txtNewCompanyEmail" placeholder="Ange e-postadress" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-xs-12">
                                                        <label class="control-label">Faxnummer</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon glyphicon glyphicon-print"></span>
                                                            <input type="text" class="form-control" id="txtNewCompanyFax" placeholder="Ange nummer" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-xs-12 required">
                                                        <label class="control-label">Besöksadress</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon glyphicon glyphicon-map-marker"></span>
                                                            <input type="text" class="form-control" id="txtNewCompanyVisitingAddress" placeholder="Ange adress" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-xs-12 required">
                                                        <label class="control-label">Postnummer</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon glyphicon glyphicon-inbox"></span>
                                                            <input type="text" class="form-control" id="txtNewCompanyPostNumber" placeholder="Ange postnummer" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-xs-12 required">
                                                        <label class="control-label">Postort</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon glyphicon glyphicon-globe"></span>
                                                            <input type="text" class="form-control" id="txtNewCompanyCity" placeholder="Ange postort" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-xs-12">
                                                        <label class="control-label">Land</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon glyphicon glyphicon-picture"></span>
                                                            <input type="text" class="form-control" id="txtNewCompanyCountry" placeholder="Ange namen" />
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset class="col-md-12">
                                                    <legend>Uppgifter om fakturamottagaren</legend>
                                                    <div class="form-group col-md-6 col-xs-12 required">
                                                        <label class="control-label">Gatuadress/Box</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon glyphicon glyphicon-map-marker"></span>
                                                            <input type="text" class="form-control" id="txtNewBillingAddress" placeholder="Ange gatuadress/box" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-xs-12 required">
                                                        <label class="control-label">Postnummer</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon glyphicon glyphicon-inbox"></span>
                                                            <input type="text" class="form-control" id="txtNewBillingPostNumber" placeholder="Ange postnummer" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-xs-12 required">
                                                        <label class="control-label">Postort</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon glyphicon glyphicon-globe"></span>
                                                            <input type="text" class="form-control" id="txtNewBillingCity" placeholder="Ange ort" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-xs-12">
                                                        <label class="control-label">Country/Land</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon glyphicon glyphicon-picture"></span>
                                                            <input type="text" class="form-control" id="txtNewBillingCountry" placeholder="Ange namn" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-xs-12 required">
                                                        <label class="control-label">Referens/Kostnadsställe el dylikt</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon glyphicon glyphicon-duplicate"></span>
                                                            <input type="text" class="form-control" id="txtNewBillingReference" placeholder="Ange referens/kostnadsställe" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-6 col-xs-12 required">
                                                        <label class="control-label">Fakturamottagare</label>
                                                        <div class="input-group">
                                                            <span class="input-group-addon glyphicon glyphicon-user"></span>
                                                            <input type="text" class="form-control" id="txtNewBillingRecepient" placeholder="Ange namn" />
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <div class="error" style="display: none;" id="lblErrorMsg">Fyll i alla obligatoriska uppgifter</div>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                                    <button type="button" class="btn btn-primary" id="confirmOrder">Bekräfta beställning</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="orderReceived" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>Tack för din beställning!</strong>
                                </div>
                                <div class="modal-body center-block">
                                    Språkservice har mottagit din order.
                                    <br />
                                    <br />
                                    <em>Med vänlig hälsning</em><br />
                                    <em>Språkservice Sverige AB</em>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                                </div>
                            </div>
                        </div>
                    </div>

                @*<a href="~/sv/full-quote" Target="_blank" ID="download_quotes_btn" CssClass="download_quotes_btn btn btn-block">Granska fullständig offert</a>*@
                    <a id="print" class="btn btn-block">Granska fullständig offert</a>
                    <div class="modal fade" id="cantViewOrder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>Du kan inte se hela beställningen</strong>
                                </div>
                                <div class="modal-body center-block">
                                    Du måste lägga till textfil(er) och välja översättningsspråk innan du kan slutföra beställningen
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script src="~/usercontrols/InstantQuotation/localization.js"></script>
        <script type="text/javascript">
            var lang = swe;
        </script>
        <script src="~/usercontrols/InstantQuotation/mammoth.browser.js"></script>
        <script src="~/usercontrols/InstantQuotation/jszip.js"></script>
        <script src="~/usercontrols/InstantQuotation/xlsx.js"></script>
        <script src="~/usercontrols/InstantQuotation/jquery.bootstrap.wizard.js"></script>
        <script src="~/usercontrols/InstantQuotation/bootstrap-select.js"></script>
        <script src="~/usercontrols/InstantQuotation/bootstrap-datepicker.min.js"></script>
        <script src="~/usercontrols/InstantQuotation/moment.min.js"></script>
        <script src="~/usercontrols/InstantQuotation/moment-business.min.js"></script>
        <script src="~/usercontrols/InstantQuotation/jquery.cookie.js"></script>
        <script src="~/usercontrols/InstantQuotation/jquery.ui.widget.js"></script>
        <script src="~/usercontrols/InstantQuotation/jquery.iframe-transport.js"></script>
        <script src="~/usercontrols/InstantQuotation/jquery.fileupload.js"></script>
        <script src="~/usercontrols/InstantQuotation/iq_app.js"></script>
    </div>

</div>
