﻿@model AccentWebpage.ViewModels.NewsViewModel
    
@foreach (var item in Model.Newses)
{
    var date = item.ShortDescription;
    var title = item.Title;
    var shortDesc = item.ShortDescription;
    var desc = item.Description;

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img class="img-responsive" src="http://placehold.it/1200x600/555/000&text=One" alt="...">
                <div class="carousel-caption">
                    One Image
                </div>
            </div>
    
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

}