﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Install.ascx.cs" Inherits="HSense.IQ.Macro.Install" %>

<asp:Button runat="server" Text="Execute SQL" ID="btnExecuteSql" OnClick="btnExecuteSql_OnClick"/>

<asp:Label runat="server" ID="lblMsg"></asp:Label>