.banner {
    overflow: auto;
    margin-bottom: 20px;
    background-color: #555;
    color: #fff;
}

.banner a {
    color: #fff;
}

.banner h1 {
    font-size: 20px;
    line-height: 2;
    margin: 0.5em 0;
}

.well {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 1em;
    min-height: 200px;
}

.messages .warning {
    color: #cc6600;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

.btn-dropdown {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

#target_language_list_section {
  margin-right: 36px;
}

#target_language_list_section table {
  margin: 0;
}

#target_language_list_section tr.deleted .col-lan-name,#target_language_list_section tr.deleted .col-part-price,#target_language_list_section tr.deleted .col-unit-price {
  text-decoration: line-through;
  color: #A6A3A1;
}

#target_language_list_section .col-lan-name {
  text-align: left;
  padding-left: 15px;
}

#target_language_list_section .col-part-price,#target_language_list_section .col-total-price,#target_language_list_section .col-unit-price {
  text-align: right;
}

#target_language_list_section .col-add-more-language,#target_language_list_section .col-unit-price {
  border-right: 1px solid #D2AD4C;
  padding-right: 16px;
  text-align: left;
}

#target_language_list_section .col-unit-price {
  text-align: right;
}

#target_language_list_section .col-add-more-language,#target_language_list_section .col-blank {
  border-bottom: 0;
}

#target_language_list_section .col-add-more-language {
  padding-right: 0;
}

#target_language_list_section .col-add-more-language .btn {
  padding: 0;
}

#target_language_list_section .col-total-units {
  text-align: center;
  vertical-align: middle;
    border: 1px solid #D2AD4C;
  border-bottom: 1px solid #D2AD4C;
  width: 157px;
  padding: 0;
}

#target_language_list_section .col-total-lang {
  text-align: left;
}

#target_language_list_section .col-part-price {
  width: 92px;
}

#target_language_list_section .col-part-price .target_language_remove_btn {
  display: block;
}

#target_language_list_section tr:hover .col-lan-name,#target_language_list_section tr:hover .col-part-price,#target_language_list_section tr:hover .col-total-price,#target_language_list_section tr:hover .col-unit-price {
  background-color: #f9f9f9;
}

#target_language_list_section tfoot {
  border-top: 1px solid #D2AD4C;
  font-weight: 600;
}

#target_language_list_section tfoot tr:hover .col-total-price {
  background-color: #fff;
}

#target_language_list_section tfoot td,#target_language_list_section tfoot th {
  border: 0;
}

#target_language_list_render_section span {
    font-weight: bold;
    /*color: #D2AD4C;*/
}

.tabs-right>.nav-tabs {
    float: right;
    /*margin-left: 19px;*/
    /*border-left: 1px solid #ddd;*/
}
.tabs-left>.nav-tabs {
    float: left;
    /*margin-right: 19px;*/
    /*border-right: 1px solid #ddd;*/
}
.tabs-below>.nav-tabs, .tabs-right>.nav-tabs, .tabs-left>.nav-tabs {
    margin-top: 45px;
    border-bottom: 0;
}

.tabs-left>.nav-tabs>li, .tabs-right>.nav-tabs>li {
    float: none;
}

.tabs-left .tabs-left>.nav-tabs .active>a, .tabs-left>.nav-tabs .active>a:hover, .tabs-left>.nav-tabs .active>a:focus {
    border-color: #ddd transparent #ddd #ddd;
}
.tabs-right>.nav-tabs .active>a, .tabs-right>.nav-tabs .active>a:hover, .tabs-right>.nav-tabs .active>a:focus {
    border-color: #ddd #ddd #ddd transparent;
}
.tabs-left>.nav-tabs>li>a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-right>.nav-tabs>li>a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.tabs-left>.nav-tabs>li>a, .tabs-right>.nav-tabs>li>a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 20px;
    border: 1px solid transparent;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.nav-tabs>li>a, .nav-pills>li>a {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: 2px;
    line-height: 14px;
}
.nav>li>a {
    display: block;
}
.tab-content {
    overflow: auto;
}

/* COMMON PRICING STYLES */
.panel.price,
.panel.price>.panel-heading{
    border-radius:0px;
     -moz-transition: all .3s ease;
    -o-transition:  all .3s ease;
    -webkit-transition:  all .3s ease;
}
.panel.price:hover{
    box-shadow: 0px 0px 30px rgba(0,0,0, .2);
}
.panel.price:hover>.panel-heading{
    box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
}

        
.panel.price>.panel-heading{
    box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
    text-shadow: 1px 1px 10px rgba(50,50,50, .6);
}
    
.price .list-group-item{
    border-bottom:1px solid rgba(250,250,250, .5);
}

.panel.price .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.panel.price .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.price .panel-footer {
    color: #fff;
    border-bottom:0px;
    background-color:  rgba(0,0,0, .1);
    box-shadow: 0px 3px 0px rgba(0,0,0, .3);
}


.panel.price .btn{
    box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
    border:0px;
}

/* green panel */


.price.panel-green>.panel-heading {
    color: #fff;
    background-color: #57AC57;
    border-color: #71DF71;
    border-bottom: 1px solid #71DF71;
}

    
.price.panel-green>.panel-body {
    color: #fff;
    background-color: #65C965;
}
        

.price.panel-green>.panel-body .lead{
        text-shadow: 1px 1px 10px rgba(50,50,50, .6);
}

.price.panel-green .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight:600;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/* blue panel */


.price.panel-blue>.panel-heading {
    color: #fff;
    background-color: #608BB4;
    border-color: #78AEE1;
    border-bottom: 1px solid #78AEE1;
}

    
.price.panel-blue>.panel-body {
    color: #fff;
    background-color: #73A3D4;
}
        

.price.panel-blue>.panel-body .lead{
        text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.panel-blue .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight:600;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/* red price */


.price.panel-red>.panel-heading {
    color: #fff;
    background-color: #D04E50;
    border-color: #FF6062;
    border-bottom: 1px solid #FF6062;
}

    
.price.panel-red>.panel-body {
    color: #fff;
    background-color: #EF5A5C;
}




.price.panel-red>.panel-body .lead{
        text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.panel-red .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight:600;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/* grey price */


.price.panel-grey>.panel-heading {
    color: #fff;
    background-color: #6D6D6D;
    border-color: #B7B7B7;
    border-bottom: 1px solid #B7B7B7;
}

    
.price.panel-grey>.panel-body {
    color: #fff;
    background-color: #808080;
}



.price.panel-grey>.panel-body .lead{
        text-shadow: 1px 1px 10px rgba(50,50,50, .6);
}

.price.panel-grey .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight:600;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

/* white price */


.price.panel-white>.panel-heading {
    color: #333;
    background-color: #f9f9f9;
    border-color: #ccc;
    border-bottom: 1px solid #ccc;
    text-shadow: 0px 2px 0px rgba(250,250,250, .7);
}

.panel.panel-white.price:hover>.panel-heading{
    box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset;
}
    
.price.panel-white>.panel-body {
    color: #fff;
    background-color: #dfdfdf;
}
        
.price.panel-white>.panel-body .lead{
        text-shadow: 0px 2px 0px rgba(250,250,250, .8);
        color:#666;
}

.price:hover.panel-white>.panel-body .lead{
        text-shadow: 0px 2px 0px rgba(250,250,250, .9);
        color:#333;
}

.price.panel-white .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight:600;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}

.panel-heading h4 {
    color: #fff;
}

#languagesList {
    width: 100%;
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

#languagesList section {
    display: inline-block;
}

.document-item-remove {
    font-size: 15px;
    /*padding: 3px 0 0 15px;*/
    padding-left: 4px;
    color: #bbb;
    cursor: pointer;
    /*background: url(delete.png) no-repeat;*/
    /*background-size: 22px;*/
}

/* columns of same height styles */

.row-full-height {
  height: 100%;
}
.col-full-height {
  height: 100%;
  vertical-align: middle;
}
.row-same-height {
  display: table;
  width: 100%;
  /* fix overflow */
  table-layout: fixed;
}
.col-xs-height {
  display: table-cell;
  float: none !important;
}

@media (min-width: 768px) {
  .col-sm-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 992px) {
  .col-md-height {
    display: table-cell;
    float: none !important;
  }
}
@media (min-width: 1200px) {
  .col-lg-height {
    display: table-cell;
    float: none !important;
  }
}

/* vertical alignment styles */

.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}

#plansTable {
    border-spacing: 10px;
    border-collapse: separate;
    padding-left: 0px;
    padding-right: 0px;
}

#plansTable div {
    padding: 0 5px;    
}


#plansTable a h4 {
    /*top: 10px;
    position: absolute;*/
}

#plansTable .list-group-item-text {
    margin-top: 25px;
}

a.list-group-item {
    border-color: #d2ad4c;
}

td.list-group-item {
  border-color: #d2ad4c;
}

td.list-group-item a {
    text-decoration: none;
    color: black;
    display: inline-table;
    width: 100%;
    height: 100%;
}

td.list-group-item.active a {
    color: #fff;
}

td.list-group-item a:hover {
    text-decoration: none;
}

td.list-group-item:hover {
    color: #555555;
    background-color: #f5f5f5;
}

/*.modal-body input {
    width: 50%;
}*/

#deliveryPlanName {
    text-align: right;
}

.btn-block {
  text-transform: none !important;
}

.modal-body input[type="checkbox"] {
    width: 5% !important;
}

.company-fields {
    display: block;
}

.new-customer-fields {
    display: block;
}

.modal-body .glyphicon {
    color: #D2AD4C;
}

.modal-body fieldset {
    margin-top: 20px;
}

.modal .modal-body {
    max-height: 700px;
    overflow-y: auto;
}

.required label:after {
    color: #8a1f11;
    content: ' *';
    display:inline;
}

.usertype {
    text-align: center;
}

.usertype input[type="checkbox"] {
    height: 16px;
}

.usertype label {
    font-size: 16px;
}

.back-action {
    display: block;
}

.back-action a {
    font-weight: bold;
    color: #D2AD4C !important;
}

.remove-padding {
    padding: 0;
}

.package-content-wrapper {
    padding: 15px !important;
}