﻿@model AccentWebpage.ViewModels.DeliveryDedlineViewModel

@*@using (Html.BeginForm("SavePartial", "Rates"))
    {*@
@Html.AntiForgeryToken()
<div class="form-horizontal">
    <div class="panel-heading">Add New Rates</div>
    <div class="panel-body">
        @*<h4>Pricelist</h4>*@
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Pricelist.From, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Pricelist.From, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pricelist.From, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Pricelist.To, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Pricelist.To, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pricelist.To, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Pricelist.Rate, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Pricelist.Rate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pricelist.Rate, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.Pricelist.Days, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.Pricelist.Days, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pricelist.Days, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-2 col-md-offset-10">
            <div class="pull-right">
                @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-warning" }) &nbsp;
                <button type="submit" class="btn btn-primary pull-right">Save</button>
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Rate</th>
            <th>Days</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pricelist in Model.Pricelists)
            {
            <tr>
                <td class="col-md-3">@Html.ActionLink(pricelist.From.ToString(), "Edit", "Pricelists", new { id = pricelist.Id }, null)</td>
                <td class="col-md-4">@Html.ActionLink(pricelist.To.ToString(), "Edit", "Pricelists", new { id = pricelist.Id }, null)</td>
                <td class="col-md-4">@Html.ActionLink(pricelist.Rate.ToString(), "Edit", "Pricelists", new { id = pricelist.Id }, null)</td>
                <td class="col-md-4">@Html.ActionLink(pricelist.Days.ToString(), "Edit", "Pricelists", new { id = pricelist.Id }, null)</td>
                <td class="col-md-1">@Html.ActionLink("Delete", "Delete", "Pricelists", new { confirm = true, id = pricelist.Id }, new { onclick = "return confirm('Do you really want to delete this pricelist?')", @class = "btn btn-danger" })</td>
            </tr>
        }
    </tbody>
</table>
@* } *@