﻿@model AccentWebpage.ViewModels.DeliveryDedlineViewModel

@{
    ViewBag.Title = Model.Title;
}

@using (Html.BeginForm(Model.Action, "DeliveryDeadline"))
{
    <div class="panel panel-primary">
        <div class="panel-heading">@Model.Title</div>
        @Html.ValidationSummary(true)
        <div class="panel-body">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.DeliveryDeadlineType.Name)
                    @Html.TextBoxFor(m => m.DeliveryDeadlineType.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.DeliveryDeadlineType.Name)
                </div>
            </div>
        </div>
        @Html.HiddenFor(m => m.Id)
        @Html.Partial("_DeliveryPricelistForm")
    </div>
}