﻿@model AccentWebpage.ViewModels.DeliveryDedlineViewModel

@{
    ViewBag.Title = "List of DeliveryDeadline Types";
}

@if (!Model.DeliveryDeadlineTypes.Any())
{
    <p>We don't have any Delivery Deadline yet.</p>

    <p>
        <a class="btn btn-primary" href="~/DeliveryDeadline/New" role="button">New Delivery Deadline</a>
    </p>
}
else
{
    <table id="quality" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Pricelists</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var deliveryType in Model.DeliveryDeadlineTypes)
                {
                <tr>
                    <td class="col-md-2" style="font-size: large">@Html.ActionLink(deliveryType.Name, "Edit", "DeliveryDeadline", new { id = deliveryType.Id }, null)</td>
                    <td class="col-md-6">
                        <table class="table table-striped table-hover">
                            <tr>
                                <th class="col-md-4">From</th>
                                <th class="col-md-4">To</th>
                                <th class="col-md-4">Rate</th>
                                <th class="col-md-4">Days</th>
                            </tr>
                            @foreach (var deliveryPricelist in Model.DeliveryDeadlinePricelists.Where(r => r.DeliveryDeadlineTypeId == deliveryType.Id))
                            {
                                <tr>
                                    <td class="col-md-4">@Html.DisplayFor(modelItem => deliveryPricelist.Pricelist.From)</td>
                                    <td class="col-md-4">@Html.DisplayFor(modelItem => deliveryPricelist.Pricelist.To)</td>
                                    <td class="col-md-4">@Html.DisplayFor(modelItem => deliveryPricelist.Pricelist.Rate)</td>
                                    <td class="col-md-4">@Html.DisplayFor(modelItem => deliveryPricelist.Pricelist.Days)</td>
                                </tr>
                            }
                        </table>
                    </td>
                    <td class="col-md-1">@Html.ActionLink("Delete", "Delete", "DeliveryDeadline", new { confirm = true, id = deliveryType.Id }, new { onclick = "return confirm('Do you really want to delete this quality type?')", @class = "btn btn-danger" })</td>
                    @*<td class="col-md-1"><a href="" class="js-delete-qualitytype" data-qualitytype-id="@qualityType.Id">Delete</a></td>*@
                </tr>
            }
        </tbody>
    </table>
}

@*@section scripts
    {
        <script>
            $(document).ready(function() {
                $(".js-delete-qualitytype").click(function(e) {
                    var link = $(e.target);
                    if (confirm("dsdsff")) {
                        $.ajax({
                                url: "/api/qualitytypes/" + link.attr("data-qualitytype-id"),
                                method: "DELETE"
                            })
                            .done(function() {
                                link.parent('#quality tbody tr').fadeOut(function () {
                                    $(this).hide();
                                });
                            })
                            .fail(function() {
                                alert("Somethin failed!");
                            });
                    }
                });
            });
        </script>
    }*@