﻿
@model AccentWebpage.ViewModels.NewsViewModel
 





    @Html.DisplayFor(n => n.News.Title) <br/>
<p style="font-size: 12px; color: #d2ad4c;">@Html.DisplayFor(n => n.News.ShortDescription)</p><br/>
<img class="img-responsive" src="@Html.DisplayFor(n => n.News.ImgPath)" /><br/>
    @Html.Raw(Model.News.Description)

