﻿
@model AccentWebpage.ViewModels.NewsViewModel

@{
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<!-- INFO MESSAGE DISPLAY -->

@foreach (var info in Model.Newses)
{
    if (info.Published == true && info.InfoText != null)
    {
        <div id="infoMessage" class="container">
            <div class="row text-center">
                <div style="padding: 15px; margin-bottom: 20px; border: 1px solid transparent; background-color: #fcf8e3 !important; border-color: #faf2cc !important; color: #8a6d3b !important;" class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    @Html.Raw(info.InfoText)
                </div>
            </div>
        </div>
    }

}

<section id="login">

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <input class="form-control" type="text" placeholder="E-postadress">
                <input class="form-control" type="password" placeholder="Lösenore">
            </div>
            <div class="col-md-3">
                <div class="checkbox">
                    <label><input type="checkbox" value="">Kom ihåg mig</label>
                </div>
                <a style="margin-left: 15px;" href="#">Giömt lösenrod</a>
            </div>
            <div class="col-md-3">
                <a href="#" id="login-button">logga in</a>
            </div>
        </div>
    </div>
</section>
<section id="hero" style="background:url(
         data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2NkwAIYoWL/oTSYj1cQxRCYShRBAISUAgaWyCnrAAAAAElFTkSuQmCC
    ) repeat;">
<div style="background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)); padding: 115px 0; height: 800px;">
    >
    <div class="container text-center">
        <div class="row">
            <video id="myVideo" playsinline autoplay muted loop>
                <source src="sprakservice.mp4" type="video/mp4">
            </video>
            <h2 id="hero-text">Känsla för kommunikation</h2>
            <p id="hero-sub-text">Logga in och beställ tolk i  &nbsp; <span class="element"></span></p>
            <!--<div class="element"></div>Kontakta oss om du behöver tolk översättning-->
        </div>
        <a id="hero-button" href="#">Logga In</a>
    </div>
</div>
</section>
<section id="tolkar">
    <div id="tolking" class="container">
        <div class="row">

            <div class="col-md-10">
                <div class="container">
                    <div class="row">
                        <div id="tolk-img" class="col-md-6">

                        </div>
                        <div id="tolk-text" class="col-md-6">
                            <h2>Tolkning</h2>
                            <p>En tolk äe err redskap i en situation där två personer inte delar ett gemensamt språk. Tolkens uppdift är att i reakid muntligr översätta dessa samtal. Tolken är bunden av tystnadsplikt, är neutral och opartisk och tolkar allt som sägs i rummer</p>
                            <br>
                            <a id="tolk-button" href="#">Kontaka oss om tolk</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="over" class="container">
        <div style="" class="row">
            <div class="col-md-10">
                <div class="container">
                    <div class="row">
                        <div id="tolk-text" class="col-md-6">
                            <h2>Översättning</h2>
                            <p>Vi erbjuder professionella översättningsjänster i de flesta språkkombinationer och fackområden. Våra översättningar utfors av erfatna facköversättare eller av auktoriserade translatorer.</p>
                            <br>
                            <a id="tolk-button" href="#">Kontaka oss om översättare</a>
                        </div>
                        <div id="over-img" class="col-md-6">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <h2>PRENUMERERA PÅ NYHETSBREVET</h2>
                <p>
                    För att hålla Er uppdaterade om nyheter kring tolkar, översättning
                    hos oss på Språkservice, prenumerera gärna på vårt nyhetsbrev.
                </p>
            </div>
            <div id="subscribe-sub" class="col-md-6 col-xs-12">
                <input placeholder="E-postadress" class="form-control" type="email" id="subscribe-email">
                <a id="subscribe-button" href="#">Prenumerera</a>
            </div>
        </div>
    </div>
</section>
<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 style="margin-bottom: 35px; color: #fff; font-size: 45px; font-weight: bold;">Press och nyheter</h2>
            </div>
        </div>


    </div>




    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul id="lightSlider">
                                @foreach (var items in Model.Newses.Where(n => n.InfoText == null))
                                {
                                    if (items.Published == true)
                                    {
                                        <li id="row_@items.Id">
                                            <div class="col-md-12">
                                                <img style="height: 200px !important" src="@Html.DisplayFor(item => items.ImgPath)" class="news-img img-responsive" onclick="ShowNews(@items.Id)">
                                                <div class="box">
                                                    <p class="date">@Html.DisplayFor(item => items.DateCreated)</p>
                                                    <p style="font-size: 14px; color: #a98c3f; padding: 1px 7px 1px 5px !important;">@Html.DisplayFor(item => items.Title)</p>
                                                    <p style="font-size: 12px; padding: 0 10px 9px 25px !important;">@Html.DisplayFor(item => items.ShortDescription)</p>
                                                    @*<p class="anchorDetail">Läs mer >></p>*@
                                                    <a href="javascript:void(0)" style="margin-right: 15px;" class="pull-right news-button" onclick="ShowNews(@items.Id)">Läs mer >></a>
                                                </div>
                                            </div>
                                        </li>
                                    }

                                }

                            </ul>

                        </div>
                    </div>



                    @*@Html.Partial("Details");*@
                    <!-- <div class="col-md-4">
                        <img src="img/news.jpg" class="news-img">
                         <div class="box">
                           <p class="date">2016-11-01</p>
                            <p>Språksevice hörsammar kontorsgrannen Akelius initiativ och skänker pengar till Läkare utan gränser.</p>
                            <a class="news-button" href="#"><em>Läs mer >></em></a>
                        </div>
                     </div>-->
                    <!--  <div class="col-md-4">
                        <img src="img/news.jpg" class="news-img">
                         <div class="box">
                               <p class="date">2016-10-01</p>
                             <p>Språksevice hörsammar kontorsgrannen Akelius initiativ och skänker pengar till Läkare utan gränser.</p>
                             <a class="news-button" href="#"><em>Läs mer >></em></a>

                         </div>
                      </div>-->
                </div>
            </div>
        </div>
    </div>
</section>

<section id="logos">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 style="padding-top: 10px; color: #a98c3f;">Några av våra utmärkelser</h2>
            </div>
        </div>
    </div>
    <div style="padding: 30px;" class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <img src="img/CSA_Logo_125_2016.png">
            </div>
            <div class="col-md-3 col-xs-12">
                <img src="img/CSA_Logo_125_2016.png">
            </div>
            <div class="col-md-3 col-xs-12">
                <img src="img/CSA_Logo_125_2016.png">
            </div>
            <div class="col-md-3 col-xs-12">
                <img src="img/CSA_Logo_125_2016.png">
            </div>
        </div>
    </div>
</section>
<section id="form">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Direktoffert för avtalslösa kunder</h2>
                <p>Med hjälp av vårt offertverktyg kan du på ett snabbt sätt få information om kostnad och beräknade leveranstider för en rad olika språk. Fyll i uppgifterna nedan för att få en offert.</p>
                <p style="margin-bottom: 45px;">Om det/de språk du önskar översätta till eller från saknas i listan kan du istället skicka texten till: eposta@sprakservice.se så återkommer vi med en offert så snart vi kan. Samma adress fungerar även för övriga frågor om våra översättningstjänster.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Översätt från</label>
                    <select class="form-control">
                        <option>VÄLJ SPRÅK</option>
                        <option>arabiska</option>
                        <option>danska</option>
                        <option>dari</option>
                        <option>engleska</option>
                        <option>finska</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleTextarea">KLISTRA IN TEXT</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Översätt till</label>
                    <select class="form-control">
                        <option>VÄLJ SPRÅK</option>
                        <option>arabiska</option>
                        <option>danska</option>
                        <option>dari</option>
                        <option>engleska</option>
                        <option>finska</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputFile">LÄGG TILL FIL</label>
                    <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
                </div>
                <a href="#" class="btn-default btn-form">Skicka</a>
            </div>
        </div>
    </div>
</section>
<section class="job">
    <div style=" background:url(
         data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2NkwAIYoWL/oTSYj1cQxRCYShRBAISUAgaWyCnrAAAAAElFTkSuQmCC
    ) repeat; height:auto; padding:75px 0px;">
    <div class="container">
        <div class="row">

            <div id="job" class="col-md-12">
                <div class="col-md-8">
                    <h2>VILL DU JOBBA PÅ SPRÅKSEVICE?</h2>
                    <p>Språkservice växer! Just nu söker vi både duktiga Tolkar och Översåttare till Stockholm. Umeå och Malmö.</p>
                </div>
                <div class="col-md-4">
                    <a id="job-button" href="#">SÖK JOBB HOS OSS</a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>KONTAKTA OSS</h3>
                Malmö - Tel: 0770-457 458.<br>
                Stockholm - Tel: 0770-457 458.<br>
                Umeå - Tel: 0770-457 458.<br><br>
                <!--<ul>
                    <li></li>
                    <li>Malmö - Tel: 0770-457 458.</li>
                    <li>Malmö - Tel: 0770-457 458.</li>
                </ul>-->
                E-post: info@sprakservice.se
            </div>
            <div class="col-md-4">
                <h3>BESÖK OSS</h3>
                Malmö - Föreningsgatan 15, Malmö.<br>
                Stockholm - Vretenvägen 9, 171 54 Solna.<br>
                Umeå - Björkvägen 17 A 907 38 Umeå.<br>
                <!-- <ul>
                     <li>Malmö - Föreningsgatan 15, Malmö</li>
                     <li>Malmö - Föreningsgatan 15, Malmö</li>
                     <li>Malmö - Föreningsgatan 15, Malmö</li>
                 </ul>-->
            </div>
            <div class="col-md-4">
                <h3>FAKTURA/FÖRETAGSINFO</h3>
                E-post: faktura@sprakservice.se<br>
                Bankgiro: 418-3109 (för översättningstjänster)<br>
                Bankgiro: 5509-9964 (för tolktjänster)<br>
                Organisationsnr: 556629-1513<br>
                VAT: SE556629151301<br>
            </div>
        </div>
    </div>
</footer>
<div class="subfooter">
    <div class="container">
        <div class="row">
            <!--  <div class="col-md-3">
                &copy; 2017 Språkservice Sverige AB
            </div>
            <div class="col-md-10">dasdas</div>
            <div class="col-md-3">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </div>-->
            <div class="col-md-3">
                <p>&copy; 2017 Språkservice Sverige AB</p>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-3">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
@Html.Partial("~/Views/Partials/_Iq.cshtml")


        <!-- ======================================================================================================================================================== -->
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            @*<span class="close">&times;</span>*@
            <button type="button" class="close" data-dismiss="modal">&times;</button>

            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
               
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                        <h4 class="modal-title"></h4>
                        <p></p>

                    </div>


                    @*<div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>*@
                </div>

            </div>
        </div>


        <script>

            var ShowNews = function (id) {

                $.ajax({
                    type: "POST",
                    url: "/Site/Details",
                    data: { Id: id },
                    success: function (response) {

                        $(".modal-title").html(response);
                        //$("#myModalBodyDiv").html(response);
                        $("#myModal").modal("show");

                    }

                });
            }

            var span = document.getElementsByClassName("close")[0];

            span.onclick = function () {
                modal.style.display = "none";
            }


            $("#infoMessage").fadeTo(10000,1).fadeOut(5000);
        </script>

        <style>
                        .modal {
                            display: none;
                            position: fixed;
                            z-index: 1;
                            /*padding-top: 100px;*/
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            overflow: auto;
                            background-color: rgb(0,0,0);
                            background-color: rgba(0,0,0,0.7);
                            z-index: 9999;
                        }

                        .modal-content {
                            margin: auto;
                            display: block;
                            width: 80%;
                            max-width: 1100px;
                        }

                        #caption {
                            margin: auto;
                            display: block;
                            width: 80%;
                            max-width: 700px;
                            text-align: center;
                            color: #ccc;
                            padding: 10px 0;
                            height: 150px;
                        }

                        /*.modal-content, #caption {
                -webkit-animation-name: zoom;
                -webkit-animation-duration: 0.6s;
                animation-name: zoom;
                animation-duration: 0.6s;
            }*/

                        /*-webkit-keyframes zoom {
                from {-webkit-transform:scale(0)}
                to {-webkit-transform:scale(1)}
            }

            keyframes zoom {
                from {transform:scale(0)}
                to {transform:scale(1)}
            }*/

                        .close {
                            position: absolute;
                            top: 15px;
                            right: 35px;
                            color: #ffffff;
                            font-size: 40px;
                            font-weight: bold;
                            transition: 0.3s;
                        }

                            .close:hover,
                            .close:focus {
                                color: #fff;
                                text-decoration: none;
                                cursor: pointer;
                            }
        </style>
