﻿@model AccentWebpage.ViewModels.RateViewModel

@{
    ViewBag.Title = "Rates";
}

<h2>Rates</h2>

@*<p>
    <a class="btn btn-primary" href="~/Rates/New" role="button">New Rate</a>
</p>*@

@if (!Model.Rates.Any())
{
    <p>We don't have any rate yet.</p>
}
else
{
    <table id="rate" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                @*<th>Is Active?</th>*@
                <th>Pricelist</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rate in Model.Rates)
            {
                <tr>
                    <td class="col-md-2" style="font-size: large">@Html.ActionLink(rate.SourceLanguage.Name, "Edit", "Rates", new { id = rate.Id }, null)</td>
                    <td class="col-md-2" style="font-size: large">@Html.ActionLink(rate.DestinationLanguage.Name, "Edit", "Rates", new { id = rate.Id }, null)</td>
                    <td class="col-md-6">
                        <table class="table table-striped table-hover">
                            <tr>
                                <th class="col-md-4">From</th>
                                <th class="col-md-4">To</th>
                                <th class="col-md-4">Cost</th>
                            </tr>
                            @foreach (var ratePricelist in Model.RatePricelists.Where(r => r.RateId == rate.Id))
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => ratePricelist.Pricelist.From)</td>
                                    <td>@Html.DisplayFor(modelItem => ratePricelist.Pricelist.To)</td>
                                    <td>@Html.DisplayFor(modelItem => ratePricelist.Pricelist.Cost)</td>
                                </tr>
                            }
                        </table>
                    </td>
                    <td class="col-md-1">@Html.ActionLink("Delete", "Delete", "Rates", new { confirm = true, id = rate.Id }, new { onclick = "return confirm('Do you really want to delete this News?')", @class = "btn btn-danger" })</td>

                </tr>
            }
         
        </tbody>
    </table>
}