﻿@model AccentWebpage.ViewModels.RateViewModel

@{
    ViewBag.Title = "Rate";
}

@*<h2>Add New Rate</h2>*@

@using (Html.BeginForm("Save", "Rates"))
{
    <div class="panel panel-primary">
        <div class="panel-heading">@Model.Title</div>
        @Html.ValidationSummary(true)
        <div class="panel-body">
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.Rate.SourceLanguageId)
                    @Html.DropDownListFor(m => m.Rate.SourceLanguageId, new SelectList(Model.SourceLanguages, "Id", "Name"), "Select source language", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Rate.SourceLanguageId)
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    @Html.LabelFor(m => m.Rate.DestinationLanguageId)
                    @Html.DropDownListFor(m => m.Rate.DestinationLanguageId, new SelectList(Model.DestinationLanguages, "Id", "Name"), "Select destination language", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.Rate.IsSupported) Is Active?
                    </label>
                </div>
            </div>
            @Html.HiddenFor(m => m.Rate.Id)
            @Html.Partial("_PricelistForm")
        </div>
    </div>
}